// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primaryGradient1: #184C8F;
$primaryGradient2: #245595;
$primaryGradient3: #2F5E9A;
$primaryGradient4: #3B67A0;
$primaryGradient5: #4670A5;
$primaryGradient6: #5279AB;
$primaryGradient7: #5D82B1;
$primaryGradient8: #698BB6;
$primaryGradient9: #7494BC;
$primaryGradient10: #809DC1;
$primaryGradient11: #8CA6C7;
$primaryGradient12: #97AECD;
$primaryGradient13: #A3B7D2;
$primaryGradient14: #AEC0D8;
$primaryGradient15: #BAC9DD;
$primaryGradient16: #C5D2E3;
$primaryGradient17: #D1DBE9;
$primaryGradient18: #DCE4EE;
$primaryGradient19: #E8EDF4;
$primaryGradient20: #F3F6F9;
$primaryGradient21: #FFFFFF;

