// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Datatables
@import '~datatables.net-bs4';
@import '~datatables.net-responsive-bs4';

@import '~chart.js/dist/Chart.css';

@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

@import "bootstrap_improvements.scss";

@import '~select2';
@import '~select2-bootstrap4-theme';

#dashboard h1,
#dashboard h2,
#dashboard h3,
#dashboard h4,
#dashboard h5,
#dashboard h6,
#dashboard a:not(.btn),
#dashboard .color-highlight,
#dashboard .pagination .page-item:not(.active) .page-link {
  color: $color_main;
}

#dashboard .spotify-cover {
  border: $color_main solid 2px;
  max-width: 100%;
}

#dashboard .card {
  margin-bottom: 15px;
}

#dashboard .pagination .page-item.active .page-link,
.dropdown-item:active {
  background-color: $color_main;
  border-color: $color_main;
  color: #fff;
}

#dashboard .btn.btn-primary {
  background-color: $color_main;
  border-color: $color_main;
}

.text-danger,
.text-warning,
.text-success {
  font-weight: bold;
}

.select2-container {
  width: 100% !important;
}

#mainTitle, h1 {
  font-weight: bold;
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 14px;
}

.text-danger {
  font-weight: bold;
}

.card + .card {
  margin-top: 15px;
}