// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Datatables
@import '~datatables.net-bs4';
@import '~datatables.net-responsive-bs4';

@import '~chart.js/dist/Chart.css';

@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #38a3a6;
}

.cover {
  border: #38a3a6 solid 2px;
  max-width: 100%;
}

.card {
  margin-bottom: 15px;
}
